<h2><span class="glyphicon glyphicon-user"></span> edit <%= resource_name.to_s %></h2>
<div class="row">
  <div class="col-sm-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.text_field :email, autofocus: true, :class => "form-control" %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %></div>

          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %></div>

            <div><%= f.label :phone_num %><br />
              <%= f.text_field :phone_num, :class => "form-control" %></div>

              <div><%= f.label :country %><br>
              <%= f.number_field :country, :class => "form-control"%>

              </div>


              <label>Submit</label>
              <div><%= f.submit "update", :class => "btn btn-primary form-control" %></div>
              <% end %>
              <br>
              <%= button_to "logout", destroy_user_session_path, :class => "btn btn-info btn-sm", :method => :delete %>
              <hr>


              <h2><span class="glyphicon glyphicon-question-sign"></span> account help</h2>
              <h4>unsync phone number <small>in case of a lost phone</small></h4>
              <p>
                un-syncing your phone stops texts from being sent to your phone
                <% if current_user.restriction_level == 0 %>
                <%= button_to 'unsync account', accounts_unsync_path, :class => "btn btn-warning btn-sm" %>
                <% elsif current_user.restriction_level == 1 %>
                <%= button_to 're-sync account', accounts_remove_restrictions_path, :class => "btn btn-success btn-sm" %>

                <% end %>
              </p>
              <h4>cancel account <small>l8r nerdz</small></h4>
              <p><%= button_to "delete my account", registration_path(resource_name), :class => "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, method: :delete %></p>

            </div>
          </div>