<h2>sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :phone_num %><br />
  <%= f.text_field :phone_num, autofocus: true, :placeholder => "phone number", :class => "form-control" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "password", :class => "form-control" %></div>
    <label>Submit</label>
  <div><%= f.submit "Sign up", :class => "form-control" %></div>
<% end %>

<%= render "devise/shared/links" %>
