<div class="col-sm-6">
<h1>My Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% if @mygroups != nil %>
      <tr>
        <td><%= @mygroups.name %></td>
        <td><%= @mygroups.desc %></td>
        <td><%= link_to 'Show', @mygroups %></td>
        <td><%= link_to 'Edit', edit_group_path(@mygroups) %></td>
        <td><%= link_to 'Destroy', @mygroups, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-sm-6">
<h1>Public Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publicgroups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.desc %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Group', new_group_path %>


<div id="map-canvas"/>

