<!-- Groups Index -->
<div class="row">
<div class="col-sm-6">

<h1>your groups <%= button_to 'make a group', {action: 'new'}, :class => 'btn btn-primary', :method => 'get' %></h1>
<% if current_user != nil %>

  <div class="list-group">
    <% @mygroups.each do |g| %>
      <a href="<%= group_path g.id %>" class="list-group-item">
        <span class="badge">events <%= g.events.count %></span>
        <b><%= g.name %></b> <small><%= g.desc %></small>
      </a>
    <% end %>
  </div>

<% else %>
register to make groups, join a groups, and start making alerts.

<% end %>
</div>
  <div class="col-sm-6">
<h1>local groups</h1>

<div class="list-group">
    <% @publicgroups.each do |g| %>
      <a href="<%= group_path g.id %>" class="list-group-item">
        <span class="badge">events <%= g.events.count %></span>
        <b><%= g.name %></b> <small><%= g.desc %></small>
      </a>
    <% end %>

</div>
</div>

<br>


<!-- <div id="map-canvas"/>
 -->
