<!-- Groups Index -->

<div class="col-sm-7">
<h1>your groups <%= link_to 'make a group', new_group_path, {:class => "btn btn-primary"} %></h1>

<% if current_user != nil and @groups.count != 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% if @mygroups != nil %>
      <tr>
        <td><%= @mygroups.name %></td>
        <td><%= @mygroups.desc %></td>
        <td><%= link_to 'Show', @mygroups %></td>
        <td><%= link_to 'Edit', edit_group_path(@mygroups) %></td>
        <td><%= link_to 'Destroy', @mygroups, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
register to make groups, join a groups, and start making alerts.

<% end %>
</div>
<div class="col-sm-5">
<h1>explore local groups</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publicgroups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.desc %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<!-- <div id="map-canvas"/>
 -->
