<div class="inline pull-right" style="margin-top:-10px">
  users <%= @users %> | groups <%= @groups %> | events <%= @events %> | alerts <%= @alerts %>
</div>
<div class="row">
  <div class="col-sm-12">
 <h1 class="inline" style="font-size:400%;font-family:Helvetica;font-weight:100;"><%= BRAND_NAME %> </h1><h2 class="inline"><small>text & gps alerts</small></h2>
  </div>
</div>
<div class="row">
 <div class="col-sm-6">
  <h2>make an account. it's easy</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, :placeholder => "email", :class => "form-control" %>
  </div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", :placeholder => "password", :class => "form-control" %>
    </div>
      <div><%= f.label :phone_num %><br />
        <%= f.telephone_field :phone_num, :placeholder => "phone number (include area code)", :class => "form-control" %></div>

  <div><%= f.label :country %><br>
  <%= f.number_field :country, :class => "form-control" %>
</div>
        <label>Submit</label>
        <div><%= f.submit "sign up", :class => "btn btn-primary form-control" %></div>
        <% end %>

        <br>
        <p>* <%= BRAND_NAME %>'s service only works for devices with texting capabilities.</p>



      </div>
      <div class="col-sm-6">
        <h2>examples</h2>
        <div class="col-sm-6">
          <img id="i1" src="<%= asset_path "IMG_1911.png" %>" class="img-responsive" alt="Responsive image">
          <div class="contenthover">
              <h3>get updates about meetings</h3>
              <p>never have a bad turnout because of miscommunication!</p>
          </div>
          </div>
                  <div class="col-sm-6">

        <img id="i2" src="<%= asset_path "IMG_1912.png" %>" class="img-responsive" alt="Responsive image">
        <div class="contenthover">
              <h3>use gps to see who attended meetings</h3>
              <p>attendance sheets are a thing of the past. get a list of who was attendees instantly!</p>
          </div>
</div>
      </div>

    </div>


<script>
$('#i1').contenthover({
    overlay_background:'#000',
    overlay_opacity:0.8
});
$('#i2').contenthover({
    overlay_background:'#000',
    overlay_opacity:0.8
});
</script>
<script>
  $(document).ready(function(){
   $('#full-header').css({"background-color":Please.make_color()});
 })
</script>
