<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>name</label><br>
    <%= f.text_field :name, :class => "form-control", :placeholder => "title of event" %>
  </div>
  <div class="field">
    <label>description</label><br>
    <%= f.text_field :desc, :class => "form-control", :placeholder => "blerb" %>
  </div>
  <div class="field" id="dt_div">
    <label>starts (check-in time)</label><br>
    <%= f.datetime_select :start,  :order => [:month, :day, :year, :hour, :minute], :class => "form-control" %>
  </div>
  <div class="field">
    <label>dutation in hours</label>
    <%= f.number_field :duration, :class => "form-control", :min => 0, :step => 0.25, :placeholder => "event duration" %>
  </div>
  
  <div class="field">
    <label>location (google maps accurate)</label><br>
    <%= f.text_field :address, :class => "form-control" %>
  </div>
  <div class="field">
    <label>timezone <small>recalculated based on location</small></label><br>
    <%= f.time_zone_select :timezone , nil, {:default => 'Eastern Time (US & Canada)'}, {:class => "form-control"} %>
  </div>


  <div class="field">
    <label>when to send alerts</label>
    <select multiple class="form-control" name="alert_template">
      <option value="2">initial, 1 day before, 3 hours before, start</option>
      <option value="3">initial, 3 hours before, start</option>
      <option value="4">initial and start</option>
    </select>
  </div>
  <div class="field">
    <label>public event?</label> <label id="pub_label" class="label label-primary">private</label>
    <%= f.check_box :is_public, :class => "form-control" %> 
  </div>
  

  <div class="actions">
    <%= f.submit 'save', :class => 'btn btn-primary form-control' %>
  </div>
<% end %>

<script>
  $('#event_is_public').click(function() {
    if ($('#event_is_public').prop('checked')) {
      $('#pub_label').html('public');
    }
    else
    {
     $('#pub_label').html('private'); 
    }
  });
</script>
