<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Start</th>
      <th>End</th>
      <th>Location</th>
      <th>adress</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>Is public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.desc %></td>
        <td><%= event.start.strftime("%B %d, %Y at %I:%M %p"); %></td>
        <td><%= event.end.strftime("%B %d, %Y at %I:%M %p"); %></td>
        <td><%= event.location %></td>
        <td><%= event.address %></td>
        <td><%= event.latitude %></td>
        <td><%= event.longitude %></td>
        <td><%= event.is_public %></td>

        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
