<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :send_datetime %><br>
    <%= f.datetime_select :send_datetime, :order => [:month, :day, :year, :hour, :minute], :class => 'form-control'  %>
  </div>
    <input type="hidden" name="event_id" value="<%= session[:event_id] %>"/>
  <div class="actions">
    <%= f.submit 'save', :class => 'btn btn-default form-control' %>
  </div>
<% end %>
