<p id="notice"><%= notice %></p>

<h1>Alerts</h1>
<p>
  <strong>Event:</strong>
  <%= @alert.event_id %>
</p>

<p>
  <strong>Send datetime:</strong>
  <%= @alert.send_datetime.strftime("%B %d, %Y at %I:%M %p"); %>

</p>

<p>
  <strong>Is sent:</strong>
  <%= @alert.is_sent %>
</p>

<p>
  <strong>Body</strong>
  <%= @alert.body %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %>
<%= link_to 'Back', alerts_path %>