<!DOCTYPE html>
<html>
<head>
	<title>Unify</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.3/trianglify.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<body style="font-weight:200">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to BRAND_NAME, root_path, class: "navbar-brand" %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><%= link_to '/about', home_about_path %></li>
					<li><%= link_to groups_path, groups_path %></li>
					<li><%= link_to events_path, events_path %></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
					<li><%= link_to number_to_phone(current_user.phone_num, delimiter: ".", country_code: current_user.country), edit_user_registration_path %></li>
					<li><%= link_to '/logout', destroy_user_session_path, :method => :delete %></li>
					<% else %>
					<li><%= link_to 'sign in', new_user_session_path %></li>
					<% end %>
					
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">


		<div class="well" style="opacity:.87">
			
			<% if notice != nil %>
			<div class="alert alert-info alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= notice %>
			</div>
			<% end %>

			<%= yield %>
			<!-- <p class="alert"><%= alert %></p> -->
			<hr>
			<a href="/"><%= Time.zone.now %></a>
		</div>
	</div>

	<script>
		$('.dropdown-toggle').dropdown()
	</script>

	<script>
		$(document).ready(function(){

			var t = new Trianglify({noiseIntensity: 0, strokeOpacity: Math.random(), fillOpacity: Math.random()});
			var pattern = t.generate(window.innerWidth, window.innerHeight);
			$('body').css({"background": pattern.dataUrl + " no-repeat center center fixed", "background-size": "cover"} );
		})
	</script>
	
</body>
</html>

